html {
    position: relative;
    min-height: 100%;
  }
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#nprogress .bar {
    height: 4px !important;
}

// cursor
.pointer {
    cursor: pointer;
}

// scroll
.scrollY {
    max-height: 200px;
    overflow-y: auto;
}

// image
.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

// link
a {
    &:hover{
        text-decoration: none;
    }
}